@import "tailwindcss";

:root {
  --background: #1A1E24;
  --foreground: #E6EDF3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1E24;
    --foreground: #E6EDF3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.myButton {
  background-color: #E6EDF3;
  color: #1A1E24;
}

.myButton:hover {
  background-color: #ffffff;
}

.skillcard {
  color: #1A1E24;
}

.tech-stack-heading {
  background-color: #1A1E24;
  color: #E6EDF3;
}

